.header 
  .header__up
    %p.app-title__box
      = link_to root_path, class: "app-title" do
        Comic-Remember
    .header__up__left
      %span 管理者のおすすめ漫画の紹介、備忘録なアプリとなっています。コメントもご自由にお書きください。
    .header__up__right
      %ul
        - if user_signed_in?
          %li.current__user__name
            = current_user.name
          %li#menu_btn.btn
            = icon("fas", "bars", class: "three_bars")
        - else
          %li
            = link_to "ログイン", new_user_session_path, class: "login-btn btn"
          %li.new-btn__box
            = link_to "新規登録", new_user_registration_path, class: "new-btn btn"
            .sign-up__merit 
              ユーザー登録をすることで
              %br
              ブックマーク機能、コメント機能を利用できます
        

  .header__under
  - if user_signed_in?
    %nav#menu
      .peke.peke-none
        = icon("fas", "times", class: "peke_mark")
      %ul
        %li.menu_list
          .maru_btn
          = link_to edit_user_registration_path, class: "edit-btn btn" do
            %p アカウント編集
        %li.menu_list
          .maru_btn
          = link_to user_showbookmark_path(current_user) do
            %p ブックマーク一覧
        - if user_signed_in? && current_user.admin?
          %li.menu_list
            .maru_btn
            = link_to new_author_path, class: "logout-btn btn" do
              %p 作品投稿
          %li.menu_list
            .maru_btn
            = link_to admin_users_path do
              %p 管理者画面
        %li.menu_list
          .maru_btn
          = link_to destroy_user_session_path, method: :delete, class: "logout-btn btn" do
            %p ログアウト
    .menu-background

