.main
  .select
    %ul.select__list
      %li.list__type.inactive__btn
        = link_to "おすすめ", recommend_comics_path
      %li.list__type.active__btn
        = link_to "一覧", authors_path
      %li.list__type.inactive__btn
        = link_to "検索", comics_path
  .display
    .comics__all-box
      %p.comics__all 紹介作品一覧
      %ul.display__list
        - @comics.each do |comic|
          %li.comic-box
            = link_to comic_path(comic.id), class: "comic-box__link" do
              .comic-box__data
                %p 
                  = comic.name
                %p 
                  = comic.author.name
    = paginate @comics