.side 
  .side__up
    .side__up__title 
      %span 今月のオススメ
    %ul.slide_show-box
      - if @comic.present?      ##DBにデータがない場合は表示しない（これしないとエラー出る→→→この下もコメントアウトにしないとだめだった（DBある判定で下表示になるが、まだ１個しかなかったら結局エラー出てしまう
        %li.slide__image.show{data: { index: 0 }}
          = link_to image_tag(@comic_one.image.url, class: "side__up__image", id: "slideshow_one"), comic_path(id: @comic_one)
        %li.slide__image.display_hide{data: { index: 1 }}
          = link_to image_tag(@comic_two.image.url, class: "side__up__image", id: "slideshow_two"), comic_path(id: @comic_two)
        %li.slide__image.display_hide{data: { index: 2 }}
          = link_to image_tag(@comic_three.image.url, class: "side__up__image", id: "slideshow_three"), comic_path(id: @comic_three)
        %li.slide__image.display_hide{data: { index: 3 }}
          = link_to image_tag(@comic_four.image.url, class: "side__up__image", id: "slideshow_four"), comic_path(id: @comic_four)
        %li.slide__image.display_hide{data: { index: 4 }}
          = link_to image_tag(@comic_five.image.url, class: "side__up__image", id: "slideshow_five"), comic_path(id: @comic_five)
    %ul.side__up__list
      %li.side__up__list__btn
        .circle__btn-box{data: { index: 0 }}
          = icon("fas", "circle", class: "circle__btn circle__active")
      %li.side__up__list__btn
        .circle__btn-box{data: { index: 1 }}
          = icon("fas", "circle", class: "circle__btn")
      %li.side__up__list__btn
        .circle__btn-box{data: { index: 2 }}
          = icon("fas", "circle", class: "circle__btn")
      %li.side__up__list__btn
        .circle__btn-box{data: { index: 3 }}
          = icon("fas", "circle", class: "circle__btn")
      %li.side__up__list__btn
        .circle__btn-box{data: { index: 4 }}
          = icon("fas", "circle", class: "circle__btn")
  .side__under
    %p
      %span お知らせ
    %ul.side__under__list
      - @comic.each do |comic|
        %li.side__under__list__notice
        .notice__date
          = l comic.created_at, format: :veryshort
        = link_to "#{comic.name}を追加しました", author_path(comic.author.id)
