.wrapper__comic

  .header__comic
    %p.app-title__box
      = link_to "Comic-Remember", root_path, class: "app-title"

  .main__comic-box
    %section.main__comic-box__center
      %h2 作品情報編集
      = form_with model: @author, html: {class: "Form"}, local: true do |a|
        .field_all
          .field
            = a.label :name, "作者名"
            %span （作者が2名以上いる場合は続けてご入力ください）
            %br
            = a.text_field :name, class: "form_default", required: true, placeholder: "例）河島正 × あだちとか"
            %br
          -# 19行目でモデルを指定、newの時はcomicsになっていると思う、acceptを使わない書き方になるのかな？？
          = a.fields_for(@comic) do |c|
            .field
              = c.label :name, "作品名"
              %br
              = c.text_field :name, class: "form_default", required: true, placeholder: "例）アライブ 最終進化的少年"
              %br
            .field
              = c.label :name_kana, "読み方"
              %br
              = c.text_field :name_kana, class: "form_default", required: true, placeholder: "例）あらいぶさいしゅうしんかてきしょうねん"
              %br
            .field
              = c.label :number_of_books, "巻数"
              %br
              = c.number_field :number_of_books, class: "form_number", required: true
              %br
            .field
              = c.label :number_of_books, "完結/未完結"
              %br
              = c.collection_select :booknumber_id, Booknumber.all, :id, :name, {include_blank: "選択してください"}, required: true, class: "form_booknumber"
              %br
            .field
              = c.label :number_of_books, "管理者のおすすめに入れる"
              %br
              = c.collection_select :recommend_id, Recommend.all, :id, :name, {include_blank: "選択してください"}, required: true, class: "form_booknumber"
              %br
            .field
              = c.label :number_of_books, "ジャンル"
              %span （複数選択可）
              %br
              .checkboxes
                = c.collection_check_boxes :genre_ids, Genre.all, :id, :genre do |d|
                  .box
                    = d.check_box
                    = d.label { d.text }
              %br
            .field
              = c.label :number_of_books, "画像"
              %span （表紙など作品がわかる画像を選択ください）
              = c.file_field :image, class: "form_image"
              %br
              .preview
                .previews__field
                  = image_tag @comic.image.url, data: { index: 0 }
                  .edit_btn-box
                    %span.edit 画像を変更する
            .field
              = c.label :summary, "あらすじ"
              %br
              = c.text_area :summary, class: "form_summary", required: true
            .field
              = c.label :review, "レビュー"
              %br
              = c.text_area :review, class: "form_review", required: true, placeholder: "3つ程おすすめポイントをお書きください"
              = c.number_field :id, class: "form_id_get"           ##追加しした！！！！！！！！idを指定して、このidを指定して取得
          .actions
            = a.submit "更新する", class: "form_submit"
      .comic__delete__field
        = link_to  author_path(@author.id), method: :delete, class: "comic__delete__btn" do
          .comic__delete__box 削除する