.main
  .select
    %ul.select__list
      %li.list__type
        = link_to "一覧", "#"
      %li.list__type
        = link_to "検索", "#"
  .display
    %ul.display__list
      - @comics.each do |comic|
        %li.comic-box
          = link_to author_path(comic.author.id), class: "comic-box__link" do
            .comic-box__data
              %p 
                = comic.name
              %p 
                = comic.author.name



    -# %ul.display__list
    -#   %li.comic-box
    -#     = link_to "#", class: "comic-box__link" do
    -#       .comic-box__data
    -#         %p ジョジョの奇妙な冒険
    -#         %p 荒木飛呂彦
    -#   %li.comic-box
    -#     = link_to "#", class: "comic-box__link" do
    -#       .comic-box__data
    -#         %p ジョジョの奇妙な冒険
    -#         %p 荒木飛呂彦
    -#   %li.comic-box
    -#     = link_to "#", class: "comic-box__link" do
    -#       .comic-box__data
    -#         %p ジョジョの奇妙な冒険
    -#         %p 荒木飛呂彦
    -#   %li.comic-box
    -#     = link_to "#", class: "comic-box__link" do
    -#       .comic-box__data
    -#         %p ジョジョの奇妙な冒険
    -#         %p 荒木飛呂彦
    -#   %li.comic-box
    -#     = link_to "#", class: "comic-box__link" do
    -#       .comic-box__data
    -#         %p ジョジョの奇妙な冒険
    -#         %p 荒木飛呂彦