.top 
  .main
    .select
      %ul.select__list
        %li.list__type.recommend
          = link_to "おすすめ", root_path
        %li.list__type.comic
          = link_to "作品一覧", comics_path
        %li.list__type.author
          = link_to "作者一覧", authors_path
        %li.list__type.search
          = link_to "検索", searchscreen_comics_path
    
    .display__search.recommend
      .search-result__box
        %p.search-result 管理者のおすすめ作品
        - if @comics_recommend.present?
          %ul.display__list
            .comics-box__list
              - @comics_recommend.each do |comic|
                %li.comic-box__result
                  .up-left
                  .under-right
                  = link_to comic_path(comic.id), class: "comic-box__link" do
                    .comic-box__result__data
                      %p.comic__result__image
                        = image_tag comic.image.url
                      .comic__result__name__list
                        %p.comic__result__name
                          = comic.name
                        %p.comic__result__author-name
                          = comic.author.name
                    .comic-box__result__summary
                      = comic.summary
            %p.displayed__results
        - else
          %p.no__search-result 条件に一致する作品はありません
        = paginate @comics_recommend
  = render "authors/side"