.top 
  .main
    .select
      %ul.select__list
        %li.list__type.inactive__btn
          = link_to "一覧", root_path
        %li.list__type.active__btn
          = link_to "検索", comics_path
    .display__search
      .search-result__box
        %p.search-result 検索結果
        - if @comics.present?
          %ul.display__list
            %p.search-result__count
              = "#{@comics_count.count}件見つかりました"
            .comics-box__list
              - @comics.each do |comic|
                %li.comic-box__result
                  .up-left
                  .under-right
                  = link_to author_path(comic.author.id), class: "comic-box__link" do
                    .comic-box__result__data
                      %p.comic__result__image
                        = image_tag comic.image.url
                      .comic__result__name__list
                        %p.comic__result__name
                          = comic.name
                        %p.comic__result__author-name
                          = comic.author.name
                    .comic-box__result__summary
                      = comic.summary
            %p.displayed__results
              = "#{@comics_count.count}件中、#{@comics.count}件表示しています"
        - else
          %p.no__search-result 条件に一致する作品はありません
        = paginate @comics
  = render "authors/side"