.top
  .main
    .select
      %ul.select__list
        %li.list__type.recommend
          = link_to "おすすめ", root_path
        %li.list__type.comic
          = link_to "作品一覧", comics_path
        %li.list__type.author
          = link_to "作者一覧", authors_path
        %li.list__type.search
          = link_to "検索", searchscreen_comics_path
    .display
      .comics__all-box
        %p.comics__all 作品一覧
        %ul.display__list
          - @comics.each do |comic|
            %li.comic-box
              = link_to comic_path(comic.id), class: "comic-box__link" do
                .comic-box__data
                  %p 
                    = comic.name


  = render "authors/side"