.top 
  .main
    .select
      %ul.select__list
        %li.list__type.inactive__btn
          = link_to "おすすめ", recommend_comics_path
        %li.list__type.inactive__btn
          = link_to "作品一覧", comics_path
        %li.list__type.inactive__btn
          = link_to "作者一覧", authors_path
        %li.list__type.active__btn
          = link_to "検索", searchscreen_comics_path
    .display
      .search-box
        %p 探したい条件で検索することができます
        = search_form_for @q, url: search_comics_path do |f|
          .search-box__word
            = f.label :search, '作品名から探せます'
            %br
            = f.search_field :name_or_name_kana_cont, placeholder: "(例)犬夜叉"
          .search-box__word
            = f.label :search, '作者名から探せます'
            %br
            = f.search_field :author_name_cont, placeholder: "(例)高橋留美子"
          .search-box__genre
            = f.label :genre_id_eq, 'ジャンル'
            %br
            = f.collection_select :genres_id_eq, @genres, :id, :genre, :include_blank => '指定なし'
          .search-box__number-of-books
            = f.label :number_of_books, "巻数"
            %br
            = f.text_field :number_of_books_gteq, placeholder: "以上"
            = f.label :number_of_books, "〜", class: "wavy-line"
            = f.text_field :number_of_books_lt, placeholder: "未満"
          .search-box__btn
            = f.submit "検  索", class: "search__btn"
  = render "authors/side"