.wrapper
  = render 'authors/header'
  .top-show
    .main-show
      - if user_signed_in? && current_user.admin?
        %p.comic__id
          ID:
          =@comic.id
      .main-show__box
        %h3
          <<　作 品 情 報　>>
        .comic_container
          - if signed_in?
            .comic_container__box
              #bookmark{ id: @comic.id }
                = render partial: "bookmarks/bookmark", locals: { comic: @comic }
        .comment_container
          = link_to comic_comments_path(@comic.id) do
            .comment_container__box
              = icon("far","comment-dots")
              コメント
        .main-show__box__up
          .show__image
            - if @comic.image?
              = image_tag @comic.image.url
            - else
              = icon('fas', 'image', class: 'photo-icon')
          .show__info
            .show__info__comicName
              %span.infoTitle 作品名　：
              %span.blueColor
                = @comic.name
            .show__info__authorName
              %span.infoTitle 作者名　：
              %span.blueColor
                = link_to author_path(@author), class: "blueColor" do
                  = @author.name
            .show__info__bookNumber
              %span.infoTitle 既刊　　：
              %span.blueColor
                = @comic.number_of_books
              %span.infoTitle 巻
              %span.redColor
                - if @comic.booknumber.id == 1
                  （未完結作品）
                - else @comic.booknumber.id == 2
                  （完結作品）
            .show__info__genre
              .infoTitle ジャンル：
              .blueColor
                - @comic_genre.each do |genre|
                  .genre_single
                    = genre
        .show__summary
          %span あらすじ
          %div
            = @comic.summary
        .show__review
          %span 管理者コメント
          .show__review__box
            .show__review__box__icon
              = icon('fas', 'user-graduate', class: 'admin-icon')
            .show__review__box__comment.shadow= @comic.review      ##ココは改行せず1行で書いてる（改行して下にreviewを書くと改行した分がブラウザにも反映されて思う表示にならない..試しに改行してみると理解できる
        .show__btn
          = link_to root_path do
            .show__btn__root
              トップページに戻る
          - if user_signed_in? && current_user.admin?
            .show__btn__edit-delete
              = link_to edit_author_path(@author.id, @comic.name) do
                .show__edit-btn 編集ボタン